<ion-content>
<ion-grid ion-fixed class="backgr">
  <ion-row>
    <ion-col col-1>
      <a href=""><img src="../../assets/icon/google.png" class="google" alt="Google"></a>
    </ion-col>
    <ion-col col-4>
      <ion-searchbar mode="md" type="text" [ngModel]="query" style="padding-right : 0px!important;" #color></ion-searchbar>
    </ion-col>
    <ion-col col-1 class="search-btn">
      <button ion-button icon-only (click)="search(color.value)">
          <ion-icon name="search"></ion-icon>
      </button>
    </ion-col>
    <ion-col col-6></ion-col>
  </ion-row>
</ion-grid>

<ion-item no-lines style="margin-top : 50px!important;"> 
</ion-item>

<ion-grid>
  <ion-row>
    <ion-col col-1></ion-col>
    <ion-col col-5>

      <ion-card class="card" *ngFor="let item of arr">
        <ion-card-content class="resdes">
          <font class="reshead"><a href = "{{item.url}}" target="_blank">{{item.title}}</a></font>
          <font *ngIf="linkChecker(item.url)"><img src="assets/icon/tick.png" class="tick" alt="VERIFIED"></font>
          <br>
          <font class="reslink">{{item.url}}</font><br>
          {{item.description}}
        </ion-card-content>
      </ion-card>


    </ion-col>
    <ion-col col-4>
      
    </ion-col>
    <ion-col col-2></ion-col>
  </ion-row>
</ion-grid>

</ion-content>

