page-results {
    .backgr{
      background-color:#eeeeee!important;
      //overflow: hidden!important;
      //position: fixed!important; 
      top: 0!important; 
      width: 100%!important;
    }

    .google{
      display: block!important;
      padding-left: 20px;
      padding-top: 10px;
    }
    
    .search-btn {
      display: block!important;
      padding-top: 12px!important;
    }

    .card {
      border: 0!important;
      box-shadow: none !important;
      border: none !important;
      border-style: none !important;
    }

    .reshead {
        color: #303f9f;
        font-size: 20px;
    }

    .reslink {
      color: #795548!important;
    }

    .resdes {
      color: #4e342e;
      font-size: 16px;
    }

    a:link {
      text-decoration: none;
      color:#303f9f!important;
    }
    
    a:visited {
      text-decoration: none;
      color:#303f9f!important;
    }
    
    a:hover {
      text-decoration: underline;
      color:#303f9f!important;
    }
    
    a:active {
      text-decoration: underline;
      color:#303f9f!important;
    }

    .tick {
      height: 23px!important;
      width: 23px!important;
      display: inline-block;
      margin-left: 7px;
    }
    
}
