page-home {
    
    .div {
        display: block!important;
        margin-left: auto!important;
        margin-right: auto!important;
    }
    .image {
        height: 200px;
        width: 475px;
    }
    
    .backgr{
    
        //background-color:#eeeeee!important;
        background-color:#fafafa!important;
    }
    
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 9%;
        
      }
    
      .center1 {
        display: block;
        padding-left: 30%;
        padding-right: 30%;
        //margin-top: 9%;
        
      }
    
    @font-face {
        font-family: google_bold;
        src: url(../../assets/Product-Sans-Bold.ttf) format("truetype");
    }
    
    @font-face {
        font-family: google_regular;
        src: url(../../assets/Product-Sans-Regular.ttf) format("truetype");
    }
    
    .title {
        font-family: google_bold;
        font-size: 90px;
    }
    
    .blue {
        color: #4285F4;
    }
    
    .red {
        color: #DB4437;
    }
    
    .yellow {
        color: #F4B400;
    }
    
    .green {
        color: #0F9D58;
    }
    
    .subtitle {
        font-family: google_regular;
        font-size: 90px;
        font-weight: bolder;
    }
    

}
