<ion-content padding class="backgr">
  
  <!-- <font class="subtitle">
    <font class ="blue">G</font><font class="red">o</font><font class="yellow">o</font>
    <font class="blue">g</font><font class="green">le</font>
</font>
  <font class="subtitle"></font> -->

<div>
  <img class="image center" src="../../assets/icon/google1.png" alt="Google">
  <ion-searchbar mode ="md" class="center1" color="light" [(ngModel)]="query" #change></ion-searchbar><br>
  
  
  <ion-grid>
    <ion-row>
      <ion-col col-6>
  <button ion-button class="blue div" style="color: white; text-transform:uppercase;" (click)="search(change.value)" float-right>
    Google Search</button>
    </ion-col>
    <ion-col col-6>
    <button ion-button class="blue div" style="color: white; text-transform:uppercase;" (click)="lucky(change.value)" float-left>
        I'm Feeling Lucky</button>
    </ion-col>
</ion-row>
 </ion-grid>

  </div>



</ion-content>
